@model ProyectoP2.Web.Models.Producto

<h2>Registrar Producto</h2>

<form asp-action="Create" method="post">
    <div class="row">
        
        <div class="col-md-6 form-group mb-2">
            <label>Nombre del Producto</label>
            <input asp-for="Nombre" class="form-control" required />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group mb-2">
            <label>Código de Barras</label>
            <input asp-for="CodigoBarra" class="form-control" placeholder="Ej: 7861000..." />
            <span asp-validation-for="CodigoBarra" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mb-2">
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-4 form-group mb-2">
            <label>Precio Costo</label>
            <input asp-for="PrecioCosto" type="number" step="0.01" class="form-control" />
        </div>
        <div class="col-md-4 form-group mb-2">
            <label>Precio Venta</label>
            <input asp-for="PrecioVenta" type="number" step="0.01" class="form-control" />
        </div>
        <div class="col-md-4 form-group mb-2">
            <label>Stock Inicial</label>
            <input asp-for="StockActual" type="number" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group mb-2">
            <label>Categoría</label>
            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.ListaCategorias">
                <option value="">-- Seleccione --</option>
            </select>
        </div>
        <div class="col-md-6 form-group mb-2">
            <label>Proveedor</label>
            <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ListaProveedores">
                <option value="">-- Seleccione --</option>
            </select>
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>